PORT=3001
DB_USER=admin
DB_PASSWORD=root
DB_HOST=localhost
DB_NAME=suitclash
DB_PORT=5432
JWT_SECRET=supersecretkey_suitclash_2026
GOOGLE_CLIENT_ID=568103016226-rbmjn2577vshs1cjmdpd8ofm3qeko5p1.apps.googleusercontent.com
